export(tokens, tokens_path)
export(pal, pal_tissue, pal_signal, pal_signal_at, pal_ccre, pal_modality, pal_arm, ramp)
export(scale_colour_modality, scale_colour_arm, scale_fill_arm)
export(fs_label, fs_base, fs_small, fs_min, pt2mm)
export(pt_cloud, pt_data, pt_key)
export(theme_nature, theme_embedding)
export(bar_width, expand_zero, axis_cap)
export(colourbar)
export(gene_track)
export(save_panel, crop_panel, render_svg, split_panel, save_legend)
